<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : StoneWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140228

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
	<link href="./index/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="./index/fonts.css" rel="stylesheet" type="text/css" media="all" />

	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>

<body>

	<div id="wrapper">
		<div id="three-column" class="container">
			<div class="title">
				<h2>{{model.SERVICES_PREFIX}} OWL</h2>
				<span class="byline">Best Practices Auditor</span>
			</div>
			<span ng-if="!finishloading">Retrieving projects...</span>
			<div class="row" ng-if="finishloading">
				<div class="col-sm-6">
					<h3>Audited projects</h3>
					<ul>
						<li ng-repeat="project in tpaprojects track by project.id"
							style="padding: 0.5em; text-align: left; margin-left: 5%;">
							<a href="{{project.url}}" target="_blank"
								style="margin-left: 0.5em; color: blue;">{{project.owner}}/{{project.name}} -
								{{project.pname}}</a>
							<a target="_blank"
								href="{{project.registryagreement.context.infrastructure.dashboard}}/dashboard/script/remote_dashboard.js?dashboardURL=http://localhost:5000/api/v4/dashboards/{{project.registryagreement.id}}/cabrales"
								class="btn btn-success" style="margin-left: 0.5em; padding: 0;">
								Dashboard
							</a>
							<a href="./render?model=http://localhost:8081/api/v6/agreements/tpa-{{project.id}}&view=/renders/tpa/default.html&ctrl=/renders/tpa/default.js"
								target="_blank" style="margin-left: 0.5em; color: blue;">TPA</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6">
					<h3>Other projects</h3>
					<ul>
						<li ng-repeat="project in notpaprojects track by project.id"
							style="padding: 0.5em; text-align: left; margin-left: 5%">
							{{project.owner}}/{{project.name}} - {{project.pname}}
							<a href="./render?model=http://localhost:8081/api/v6/agreements/tpa-{{project.id}}&view=/renders/tpa/default.html&ctrl=/renders/tpa/default.js"
								target="_blank" ng-click="createTpa(project);" class="btn btn-success"
								style="margin-left: 0.5em; padding: 0;">
								Create TPA
							</a>
						</li>
					</ul>
				</div>
				<!--<a href="./render?model=/renders/INIT/produccion/first.json&view=/renders/INIT/default.html&ctrl=/renders/INIT/produccion/first.js"
				 target="_blank" class="button button-alt">CaBRAleS TPA</a>
				<a href="./render?model=/renders/tpa/cabrales-sandboxproject-tpa.json&view=/renders/tpa/default.html&ctrl=/renders/tpa/cabrales-sandboxproject-tpa.js"
				 target="_blank" class="button button-alt">CaBRAleS-SandBoxProject TPA</a>-->
				<!--<a href="./render?model=/renders/SCO/simulacion/sco-incidencias-simulacion.json&view=/renders/SCO/simulacion/sco-incidencias-simulacion.html&ctrl=/renders/SCO/simulacion/sco-incidencias-simulacion.js"
				 target="_blank" class="button button-alt">Incidencias (simulación)</a>-->
			</div>
		</div>
		<div id="version" style="position: absolute; bottom: 5px; right:5px; color:black">
			{{model.version}}
		</div>
	</div>
	<div id="welcome">
		<div class="container">
			<div class="title">
			</div>


		</div>
	</div>

</body>

</html>
